.about-wrapper
    .about
        img.about__img(src="../img/chain.png", alt="#")
        h1.about__title A NEW GENERATION OF VINTAGE BIKE
        p.about__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
.brands
    .brands__row
        .brands__column.brands__column_b
            a.brands__item.item(href="#")
                span.item__logo
                    img(src="../img/workLogo.png", alt="#")
                span.item__img.ibg
                    img(src="../img/workBg.png", alt="#")
        .brands__column
            .brands__content.about
                img.about__img(src="../img/bakeFrame.png", alt="#")
                h2.about__title vintage Oliva
                p.about__description.about__description_j Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
            .brands__img.ibg
                img(src="../img/bakeFrameBg.png", alt="")
.brands.brands_rev
    .brands__row
        .brands__column.brands__column_b
            a.brands__item.item(href="#")
                span.item__logo
                    img(src="../img/2.png", alt="#")
                span.item__img.ibg
                    img(src="../img/3.png", alt="#")
        .brands__column
            .brands__content.about
                img.about__img(src="../img/5.png", alt="#")
                h2.about__title La Boriosa
                p.about__description.about__description_j Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
            .brands__img.ibg
                img(src="../img/4.png", alt="")
.brands.brands_last
    .brands__row
        .brands__column
            a.brands__item.item(href="#")
                span.item__logo
                    img(src="../img/6.png", alt="#")
                span.item__img.ibg
                    img(src="../img/8.png", alt="#")
        .brands__column
            .brands__content.about
                img.about__img(src="../img/7.png", alt="#")
                h2.about__title retrò Bike - M. Hulot
                p.about__description.about__description_j Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
            .brands__img.ibg
                img(src="../img/10.png", alt="")
        .brands__column
            .brands__block.item
                span.item__img.ibg
                    img(src="../img/9.png", alt="#")
.slider
    .container
        .slider__body
            .slider__item
                .slider__icon
                    img(src="../img/twitter.png", alt="")
                h3.slider__title AOD New York  @aod  
                    span /  35 min
                .slider__descript Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
            .slider__item
                .slider__icon
                    img(src="../img/twitter.png", alt="")
                h3.slider__title AOD New York  @aod  
                    span /  35 min
                .slider__descript Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
            .slider__item
                .slider__icon
                    img(src="../img/twitter.png", alt="")
                h3.slider__title AOD New York  @aod  
                    span /  35 min
                .slider__descript Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
.shop
    .shop__body
        .shop__column.shop__column_b.shop__column_first
            .block-shop_b
                .block-shop__img
                    img(src="../img/Layer_19.png", alt="")
                .block-shop__img
                    img(src="../img/Layer_21.png", alt="")
            .block-shop
                .block-shop__img
                    img(src="../img/Layer_20.png", alt="")
        .shop__column.shop__column_last
            .block-shop
                .block-shop__img
                    img(src="../img/Layer_22.png", alt="")
                .block-shop__img
                    img(src="../img/Layer_25.png", alt="")
        .shop__column.shop__column_b.block-shop_rev.shop__column_second
            .block-shop_b
                .block-shop__img
                    img(src="../img/Layer_24.png", alt="")
                .block-shop__img
                    img(src="../img/Layer_26.png", alt="")
            .block-shop
                .block-shop__img
                    img.block-shop__bg(src="../img/Layer_23.png", alt="")
                    a.block-shop__link(href="#")
                        img.block-shop__logo(src="../img/Shape_13.png", alt="")
                        span.block-shop__title SHOP NOW
    .shop__footer
        button.shop__btn DISCOVER THE SHOP
.colled-wrap
    .colled
        img(src="../img/Logo.png", alt="").colled__logo
        h1.colled__title Stay on the saddle!
        .form
            input(type="text" placeholder="enter your email").form__input
            button.form__btn GO