.footer-wrapper
    .footer.headerFooter
        .title-block
            h1.text AOD New York
            h3.text 2250 Lexington Avenue 
            h2.text New York, NY 10035  - info@domain.com
        .social-block
            img.social-block__item(src="../img/tw.png", alt="")
            img.social-block__item.center(src="../img/facebook.png", alt="")
            img.social-block__item(src="../img/pinterest.png", alt="")
        .credits-block
            .credits-block__title
                h3 Handcrafted by
            .credits-block__img
            img(src="../img/yebo.png", alt="")