img.header__bg(src="../img/bg.png")
.header-wrapper
    .header.headerFooter
        a.header__link.link(href="#") About as
        span.header__point . 
        a.header__link.link(href="#") Work
        img(src="../img/logo.png", alt="#")
        a.header__link.link(href="#") Shop
        span.header__point . 
        a.header__link.link(href="#") Contact
        .header__menu